a {
    text-decoration: none;
    color:#01518A;
    font-weight: 600;
}

a:hover {text-decoration: underline;}

.ul-button.-app-primary {
    background-color: #01518a !important; 
    border-color: #01518a !important;
    color: #fff !important;
}